/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*,
::after,
::before {
  box-sizing: border-box;
}


:root {
  /* COLORS  */
  /* main */
  --black: #000;
  --white: #fff;
  --neon-purple: #FB37FF;
  --purple: #5F4CAB;
  --dark-purple: #20062E;
  --neon-green: #00FF87;
  --neon-blue: #00f9ff;
  --green-dark: #0f5132;
  --backdrop-filter-blur: blur(5px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body::before{
  background: linear-gradient(135deg, #100317, var(--dark-purple), var(--purple));
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

}
body{
    /* background: linear-gradient(135deg, #100317, var(--dark-purple), var(--purple)); */
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--neon-green);
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


a{
  text-decoration: none;
}

/* scrollbar */

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background-color: var(--dark-purple);
}
::-webkit-scrollbar-thumb{
  background-color: var(--purple);
}

/* main border gradient */
section::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(135deg, var(--neon-purple) 5%, rgba(155, 111, 238, 0.05) 30%, rgba(123, 127, 234, 0.05) 70%, var(--neon-blue) 105%) border-box;
  border: 6px solid transparent;
  border-radius: inherit;
  mask: linear-gradient(white, white) padding-box,
        linear-gradient(white, white);
  mask-composite: exclude;
  z-index: -1;
  animation: opacityAnimation 6s linear infinite;
}

@keyframes opacityAnimation {
  0%, 100%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;
  }
}


section{
  position: relative;
  flex-direction: column;
  max-width: 73%;
  max-height: 80%;
  min-height: 73vh;
  min-width: 62vw;
  margin: auto;
  background: linear-gradient(110.52deg, rgba(58, 129, 191, 0.3) 1.14%, rgba(65, 48, 90, 0.1) 100%) padding-box;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  z-index: 0;
  }
  

.container{
  padding: 40px;
  width: 100%;
}

img{
  max-width: 100%;
  vertical-align: middle;

}

.row{
  display: flex;
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

h1, h2 {
  font-weight: 600;
}

h3,h4,h5,h6 {
  font-weight: 500;
}

ul{
  list-style: none;
  text-transform: capitalize;
}

/* background blobs */
.neon-blobs{
  opacity: 0.999;
  filter: blur(100px);
  z-index: -5;
}
.purple-blob{
  position: absolute;
  background-color: var(--neon-purple);
  width: 15vw;
  height: 15vw;
  top: -13%;
  left: -10%;
  border-radius: 50%;
  animation: zoomInOutBlobs 6s linear infinite;
}

.blue-blob{
  position: absolute;
  background-color: var(--neon-blue);
  width: 15vw;
  height: 15vw;
  bottom: -13%;
  right: -10%;
  border-radius: 50%;
  animation: zoomInOutBlobs 6s linear infinite;
}

.bg-circles{
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);

}

.bg-circles div{
  position: absolute;
  border-radius: 50%;
}

.bg-circles .circle-1{
  height: 60px;
  width: 60px;
  background-color: var(--neon-green);
  left: 40%;
  top: 20%;
  opacity: 0.9;
  animation: zoomInOut 12s linear infinite;
}

.bg-circles .circle-2{
  height: 60px;
  width: 60px;
  background-color: var(--purple);
  left: 20%;
  top: 66%;
  opacity: 0.9;
  animation: bounceTop 10s linear infinite;
}

.bg-circles .circle-3{
  height: 70px;
  width: 70px;
  background-color: var(--neon-purple);
  right: 20%;
  bottom: 20%;
  opacity: 0.9;
  animation: bounceHorizontal 13s linear infinite;
}

@keyframes zoomInOut{
  0%, 100%{
    transform: scale(1.5);
  }
  50%{
    transform: scale(0.5);
  }
}

@keyframes bounceTop {
  0%, 100%{
    transform: translateY(-150px);
  }
  50%{
    transform: translateY(0%);
  }
}

@keyframes bounceHorizontal {
  0%, 100%{
    transform: translateX(-200px);
  }
  50%{
    transform: translateX(0%);
  }
}

@keyframes zoomInOutBlobs{
  0%, 100%{
    opacity: 0.3;
  }
  50%{
    opacity: 1;

  }
}


/* section home */

/* .hidden{
  display: none !important;
} */
  
.flex-end{
  justify-content: flex-end;
}

.home-section{
  display: flex;
}

.home-text p{
  color: var(--neon-blue);
  font-size: 32px;
}
.home-text h1{
  font-size: 50px;
  text-transform: capitalize;
}
.home-text h2{
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--neon-blue);
}



.home-text,.home-img{
  width: 50%;
  padding: 15px;
}



.home-img .img-box{
  display: flex;
  width: 20vw;
  height: 20vw;
  position: relative;
  margin: 0 0 0 8vw;
  /* margin: auto; */
  border: 6px solid transparent;
  border-radius: 50%;

}
.home-img .img-box::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(to bottom right, var(--neon-blue), var(--neon-purple)) border-box;
  background-size: 250% 250%;
  border: inherit;
  border-radius: inherit;
  /* -moz-border-image: -moz-linear-gradient(top left, var(--neon-blue) 0%, var(--neon-purple) 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, var(--neon-blue) 0%, var(--neon-purple) 100%);
  border-image: linear-gradient(to bottom right, var(--neon-blue) 0%, var(--neon-purple) 100%); */
  /* border-image-slice: 1; */
  mask: linear-gradient(white, white) padding-box,
        linear-gradient(white, white);
  mask-composite: exclude;
  animation: animateGradientBorder 12s linear infinite;
}

@keyframes animateGradientBorder {
  0%, 100%{
    background-position: 0% 0%;
    /* transform: rotate(0deg); */
  }
  50%{
    background-position: 100% 100%;
    /* transform: rotate(360deg); */
  }
}

.home-img .img-box img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 96px 60px rgba(136, 0, 255, 0.5);
  opacity: 0.9;
  z-index: -1;

}

/* section about */
.about-img{
  width: 50%;
  padding: 0 15px;
}
.about-img .img-box{
  display: flex;
  position: relative;
  min-width: 20vw;
  max-width: 27vw;
  margin: auto;
  border: 2px solid var(--purple);
  border-radius: 10px;
}
.about-img .img-box img{
  width: 100%;
  box-shadow: 0px 4px 96px 40px rgba(136, 0, 255, 0.5);
  z-index: -1;

}

.about-text{
  width: 50%;
  padding: 0 15px;
}


.about-text h3{
  width: 50%;
  padding: 0 15px;
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}

.about-text .skills{
  display: flex;
  flex-wrap: wrap;
}

.about-text .skill-item{
  background: linear-gradient(to bottom right, var(--neon-blue), var(--neon-purple)) border-box;
  color: var(--dark-purple);
  border: 1px solid var(--purple);
  padding: 5px 15px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 20px;
  font-weight: 600;
}

.about-tabs{
  margin: 20px 0 0 0;
}

.about-tabs .tab-item::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--neon-blue);
  transition: width 0.3s ease;
}
.about-tabs .tab-item:hover::before{
  width: 100%;
}

.about-tabs .tab-item{
  position: relative;
  padding: 2px 0;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--neon-blue);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  transition: all 0.3s ease;
}

.about-tabs .tab-item.active::before{
  width: 100%;
  background-color: var(--neon-green);
}

.about-tabs .tab-item.active{
  color: var(--neon-green);
  opacity: 1;
  cursor: auto;
}

.about-tabs .tab-item:last-child{
  margin: 0;
}

.section-title{
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  
}
.section-title h2{
  color: var(--neon-blue);
  font-size: 40px;
  text-transform: capitalize;
}

.section-padding{
  margin-top: 12vh;
}


.about-text .timeline{
  position: relative;
}
.about-text .timeline::before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 5px;
  width: 1px;
  background-color: var(--neon-green);
}

.about-text .tab-content{
  padding: 40px 0;
  display: none;
}

.about-text .tab-content.active{
  display: block;
}

.about-text .timeline-item::before{
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--neon-green);
  left: 0;
  top: 16px;
  border-radius: 50%;
  
}
.about-text .timeline-item{
  margin: 0 0 30px 0;
  position: relative;
  padding: 10px 0 0 40px;
  
}
.about-text .timeline-item .date{
  display: block;
  color: var(--neon-blue);
  font-weight: 400;
  margin: 0 0 10px;
  
}
.about-text .timeline-item h4{
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 10px;
  
}
.about-text .timeline-item h4 span{
  font-weight: 400;
}
.about-text .timeline-item:last-child{
  margin: 0 0 30px 0;
  
}

/* portofolio section */
.portfolio-item{
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
}

.portfolio-item h3{
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0;
}

.portfolio-item-details{
  display: none;
}

.portfolio-item-thumbnail{
  padding: 10px;
  background-color: var(--purple);
  /* border: 1px solid var(--dark-purple); */
  border-radius: 20px;
}
.portfolio-item-thumbnail img{
  width: 100%;
  border-radius: 20px;

}

.portfolio-section{
  padding-bottom: 50px;
}

.portfolio-popout{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;
  backdrop-filter: var(--backdrop-filter-blur);

}

.popout-inner{
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
}

.popout-content{
  background-color: var(--purple);
  padding: 30px;
  border-radius: 20px;
  max-width: 900px;
  width: 100%;
  z-index: 0;
}

.popout-header{
  position: relative;
}

.popout-header h3{
  font-size: 25px;
  text-transform: capitalize;
}

.popout-thumbnail img{
  border-radius: 10px;
}
.popout-header .btn{
  position: absolute;
  right: -65px;
  top: -65px;
  width: 45px;
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 2px solid var(--neon-green);
}

.popout-body .description{
  margin-bottom: 20px;
}

.popout-body .general-info{
  margin-bottom: 10px;
  font-weight: 500;
}
.popout-body .general-info li span{
  font-weight: 300;
}

.popout-body .general-info li a{
  text-transform: lowercase;
  color: var(--neon-blue);
}

/* contact section */
.contact-form, .contact-info{
  width: 50%;
  padding: 0 15px;
}
.container .row{
  width: 100%;
}
.contact-form .input-group, .contact-form .input-group textarea{
  width: 100%;
  margin-bottom: 30px;
}

.contact-form .input-control{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--purple);
  padding: 0 20px;
  border: 0px solid transparent;
  transition: border-color 0.3s ease;
}
.contact-form .input-control::placeholder{
  color: var(--dark-purple);
  opacity: 0.9;
  font-weight: 400;
}

.contact-form textarea.input-control{
  padding-top: 15px;
  height: 250px;
  resize: none;
}

.contact-form .input-control:focus{
  border-color: var(--neon-purple);
  
}

.contact-info-item{
  padding: 0 0 0 20px;
}

.contact-info-item h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 5px;
}

.contact-info-item .social-links a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--purple);
  color: var(--neon-green);
  border-radius: 50%;
  margin: 6px 10px 0 0;
  transition: background-color 0.3s ease-in-out;
}

.contact-info-item .social-links svg path{
  fill: var(--neon-green);
  transition: fill 0.3s ease-in-out;
}
.contact-info-item .social-links a:hover svg path{
  fill: var(--purple);
}
.contact-info-item .social-links a:hover{
  background-color: var(--neon-green);

}

/* header */
.header{
  width: 100%;
}

.footer{
  width: 100%;
}

.header .container{
  height: 2vh;
}
.header .nav-toggler{
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--purple);
  border: 2px solid var(--neon-blue);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease;
  z-index: 1;
}
.header .nav-toggler:hover{
  background-color: var(--neon-blue);
  border: 2px solid var(--purple);
}
.header .nav-toggler svg path{
  fill: var(--neon-blue);
}
.header .nav-toggler:hover svg path{
  fill: var(--purple);
}

.nav{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 35px 15px;
  z-index: 1000;
  opacity: 0;
}


.nav-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: auto;
  border: 1px solid var();
  border-radius: 30px;
  backdrop-filter: var(--backdrop-filter-blur);
  background: linear-gradient(110.52deg, rgba(58, 129, 191, 0.3) 1.14%, rgba(65, 48, 90, 0.1) 100%) border-box;
  padding: 50px 0;
}

.nav-inner ul li{
  text-align: center;

}

.nav-inner ul li a{
  font-size: 40px;
  text-transform: capitalize;
  color: var(--neon-blue);
  display: block;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.2s ease-in-out;

}
.nav-inner ul li a:hover{

  color: var(--neon-green);
}


/* buttons */

button{
  font-family: inherit;
  user-select: none;
  border: none;
}

.btn{
  position: relative;
  display: inline-block;
  line-height: 1.5;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 35px;
  border-radius: 20px;
  overflow: hidden;
  vertical-align: middle;
  margin: 2vh 1vh 0 0;
  transition: color 0.3s ease-in-out;

}

.btn::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--neon-purple);
  mix-blend-mode: hue;
  opacity: 0.6;
  z-index: 1;
  transition: width 0.3s ease-in-out;

}
.btn:hover::before{

  width: 100%;

}

.btn:hover{
  color: var(--white);
}

.btn-primary{
  background-color: var(--neon-green);
  color: var(--purple);

}
.btn-secondary{
  background-color: var(--purple);
  color: var(--neon-green);


}

.java-icon{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25vw;
  height: 25vw;
  mix-blend-mode:overlay;
  z-index: -1;
  filter:drop-shadow(0px 0px 3px var(--purple));
  /* background-color: #fff; */
}

.react-icon{
  position: absolute;
  mix-blend-mode: overlay;
  z-index: -2;
  display: flex;
  align-self: center;
  }